body {
  background-color: beige;
}

.kontejner {
  display: flex;
  padding: 30px;
  justify-content: center;
}

.kontejner a {
  flex-grow: 1;
}


.fotka {
  width: 100%;
}

p, h1, h2 {
  font-family: 'Raleway', sans-serif;;
}

