body {
  background-color: beige;
}

.kontejner {
  display: flex;
  justify-content: center;
}

.kontejner a {
  flex-grow: 1;
}


.fotka {
  width: 100%;
}

p, h1, h2, a {
  font-family: 'Raleway', sans-serif;;
}

a {
  padding: 20px;
  text-decoration: none;
}

